.header-about-text {
	font-family: 'Oswald', sans-serif !important;
}

span.deviz {
	font-size: 23px;
	display: block;
	line-height: 35px;
	text-align: right;
	float: right;
	text-transform: uppercase;
	width: 100%;
	margin: 15px 0;
	margin-top: 80px;
  letter-spacing: 1px;
}

h1.title {
	display: inline-block;
	float: right;
	text-align: right;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif !important;
	color: #fab800 !important;
}

span.comp-name {
	font-size: 48px;
	font-weight: 600;
	margin-top: 10px;
	display: block;
}

span.descrip {
	font-size: 21px;
	font-weight: 600;
	float: right;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
	margin-top: 20px;
	display: inline-block;
	color: #dfdfdf;
}

.serv-soft {
	background-position: center;
	background-size: cover;
}

.foot-span {
	color: #FAB702;
	font-size: 20px;
}

.about_text {
	padding: 30px 90px;
}

.sertificates h2 {
	margin-bottom: 0 !important;
}

.post-image iframe {
	width: 100%;
	height: 282px;
	border-bottom: 4px solid #FAB702;
}

.news-item {
	margin-bottom: 30px;
}

.news-item span {
	color: #fab702;
	display: block;
	margin-bottom: 10px;
}

.news-item p {
	border-left: 2px solid #fab702;
	padding-left: 20px;
}

.news-item h3 {
	font-weight: bold;
	color: #5b5b5b;
	margin-bottom: 30px;
}

#section-about-text {
	padding: 70px 100px;
	background: #f9f9f9;
	color: #343434;
}

#section-about-text p {
	padding-left: 20px;
	border-left: 2px solid #fab702;
	margin-bottom: 30px;
}

#work-types {
	padding: 70px 100px;
}

#work-types ul {
	margin: 30px 0;
}

#work-types p {
	font-size: 16px;
	color: #000;
}

#work-types ul {
	list-style-type: none;
}

#work-types li {
	/*border-left: 2px solid #fab702;
	padding-left: 20px;*/
	margin-bottom: 15px;
	list-style-image: url(../images/galka.png);
	color: #ab7d01;
	text-decoration: underline;
}

.head-proj p {
	height: 165px;
}

.head-proj h3 {
	height: 40px;
}

.resized .picframe {
	height: 173px !important;
}

.magnif {
	padding: 30px 10px;
	text-align: center;
	height: 525px;
}

.magnif:hover {
	opacity: 0.8;
	box-shadow: 0px 0px 25px 5px #ebbf4a;
}

.magnif img {
	width: 100%;
	border: 3px solid #fab702;
	border-style: double;
	box-shadow: 0px 0px 15px 3px #ebbf4a;
}

.main-magnif {
	height: 450px;
}

/*.main-magnif span {
	font-size: 22px !important;
}*/

/*.main-magnif p {
	font-size: 18px !important;
}*/

.magnif span {
	font-size: 16px;
	display: block;
	padding: 20px 0;
	font-weight: bold;
	color: #fab702;
	padding-bottom: 0;
}

.magnif p {
	font-size: 18px;
	margin-bottom: 0;
}

span.zasluga {
	padding: 0;
	text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.rekviziti span {
	color: #fab702;
	text-transform: uppercase;
}

.video-item {
	margin-bottom: 50px;
}

.video-item iframe {
	 width: 600px;
   height: 350px;
}

.video-item h3 {
	display: table;
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: 2px solid #fab702;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

.project-info h2 {
	color: #fab701;
}

a.oferta-href {
	color: #000;
	text-decoration: underline;
	margin-bottom: 20px;
	display: inline-block;
}



/*#section-typing {
	background-color: #000e29 !important;
	color: #868686;
	}*/

/*span.comp-name {
	color: #a4aec1 !important;
	}*/


	/* Owl-carousel styles start*/
	.owl-dots {
		text-align: center;
		padding-top: 50px;
	}
	.owl-dots button.owl-dot {
		width: 7px !important;
		height: 7px !important;
		border-radius: 50% !important;
		background: #afafaf !important;
		outline: none;
		margin: 5px;
	}
	.owl-dots button.active {
		background: #fab702 !important;
	}
	.sertificates .owl-item img {
		border: 7px solid #b6bdd4;
		border-style: double;
	}
	/* Owl-carousel styles end*/


	/* Magnific styles start */

	/* overlay at start */
	.mfp-fade.mfp-bg {
		opacity: 0;

		-webkit-transition: all 0.35s ease-out;
		-moz-transition: all 0.35s ease-out;
		transition: all 0.35s ease-out;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		opacity: 0.8;
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}

	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		opacity: 0;

		-webkit-transition: all 0.35s ease-out;
		-moz-transition: all 0.35s ease-out;
		transition: all 0.35s ease-out;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}

	.de_light .mfp-bg {
		background: #000 !important;
	}

/* Magnific styles end */